.benro{
    position: relative;
    .benroText{
        position: absolute;
        width: 396px;
        height: 237px;
        top: 171px;
        right: 291px;
    }
    img{
        width: 100%;
    }
}